.jumbotron {
  color:lightpink;
  background-color: slateblue;
  text-align: center;
  font-size: 64px;
  margin-top: 20px;
}

.jumbotron h2 {
  color: darksalmon;
  background-color: darkmagenta;
  font-size: 48px;
}

.blockquote h2{
  margin: auto;
  font-size: 36px;
}

.blockquote-footer {
  font-size: 24px;
}

body  {
  background-image:linear-gradient(to bottom, darkslateblue, lightpink);
  color:lightpink;
  font-family:Helvetica;
}

html {
  height: 100%;
}