.jumbotron {
  color:lightpink;
  background-color: darkslateblue;
  text-align: center;
  font-size: 30px;
  margin: 20px;
  width:auto
}

.jumbotron h2 {
  color: darksalmon;
  background-color: darkmagenta;
  font-size: 14px;
}

body  {
  background-color: lightseagreen;
}
